<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; padding: 20px;">
        <h1>Reset password</h1>
        <p>Hello {{ welcome.name }},</p>
        <p>We have received a request to reset your password.</p>
        <p>You can do this by clicking thie link below:</p>
        <a  href="www.zuyu.me">Reset Password</a>
        <p>If you haven't request this, please reply and let us know.</p>
        <p>Best regards,</p>
        <p>The Zuyu Team</p> 
    </div>
</body>
</html>
